@import url("variables.css");
@import url("header.css");
@import url("cards.css");
@import url("buttons.css");


.reset-m {
    margin: 0;
}

.reset-p {
    padding: 0;
}

/* Main */

.bg-jumbo {
    background-image: url("../img/jumbo-bg.png");
    min-height: 500px;
    background-position: top;
    margin-top: 98px;
    position: relative;
}

.jumbotron-content {
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #fff;
}

.col img {
    width: 100%;
}

/* It takes two */

.it-takes-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

/* New relased */

.new-relased {
    background-color: var(--middle-gray);
    color: #fff;
}

/* Playstation plus */

.p-plus {
    background-color: var(--gray);
}

/* Playstation now */

.ps-now {
    background-color: var(--dark-blue);
    color: #fff;
}

/* Social */

.social {
    text-align: center;
}

.social img {
    width: 100px;
}

/* Footer */

footer {
    color: #fff;
}