@import url("variables.css");
@import url("header.css");
@import url("cards.css");
@import url("buttons.css");


.reset-m {
    margin: 0;
}

.reset-p {
    padding: 0;
}

.bg-jumbo {
    background-image: url("../img/jumbo-bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.col img {
    width: 100%;
}