@import url("variables.css");
@import url("header.css");
@import url("cards.css");
@import url("buttons.css");
@import url("mediaqueries.css");


.reset-m {
    margin: 0;
}

.reset-p {
    padding: 0;
}

section,
footer {
    padding: 2rem 0;
}

h2 {
    margin-bottom: 1rem;
}

h3,
h4 {
    margin-bottom: 1rem;
}

.play-title {
    margin-bottom: 2rem;
}

/* Main */

.bg-jumbo {
    background-image: url("../img/jumbo-bg.png");
    min-height: 500px;
    background-position: top;
    margin-top: 98px;
    position: relative;
}

.jumbotron-content {
    width: 80%;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: #fff;
}

main .col img {
    width: 100%;
}

/* Playstation 5 */

.ps5 .my-card {
    text-align: center;
    padding: .5rem;
}

.ps5 .my-card img{
    width: 50%;
}



/* It takes two */

.it-takes-2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

/* New relased */

.new-relased {
    color: #fff;
}

/* Playstation plus */

.p-plus {
    background-color: var(--gray);
}

.p-plus-content-img {
    width: 300px;
}

/* Playstation now */

.ps-now {
    background-color: var(--dark-blue);
    color: #fff;
}

/* Social */

.social {
    text-align: center;
}

.social img {
    width: 100px;
    margin: .5rem;
}



/* Footer */

footer {
    color: #fff;
    font-size: .9rem;
}

.footer-img {
    width: 100px;
    margin: 1rem;
}

.footer-img-2 {
    width: 150px;
}

.globe-img {
    width: 1rem;
}